html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

body, html {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f9fa;
}

.card {
    width: 100%;
    max-width: 700px;
    height: 90%;
}

.image-preview {
    width: 100%;
    height: 300px;
    border: 2px dashed #ced4da;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    background-color: #f8f9fa;
    color: #adb5bd;
    overflow: hidden;
}

    .image-preview img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
    }

    .image-preview i {
        font-size: 5rem;
    }